{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>{{.Title}}</h4>
        </div>
      </div>
    </div>
</section>

<div class="container pt-5 pb-5">
    {{ .Content }}

    <h4>教師會簡史</h4>
    <div class="row">
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img1 }}"/>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img2 }}"/>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img3 }}"/>
      </div>
    </div>

    <h4>家長會簡史</h4>
    <div class="row">
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img4 }}"/>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img5 }}"/>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img6 }}"/>
      </div>
    </div>

    <h4>巧宛然簡史</h4>
    <div class="row">
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img7 }}"/>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img8 }}"/>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{{ .Params.img9 }}"/>
      </div>
    </div>
</div>
{{ end }}